In [1]:
import pandas as pd

df = pd.DataFrame(data={'col1': [1, 2,3], 'col2': [4, 5, 6]})

   col1  col2
0     1     4
1     2     5
2     3     6
Return the dtypes in the DataFrame
col1    int64
col2    int64
dtype: object
Transpose index and columns
      0  1  2
col1  1  2  3
col2  4  5  6

In [2]:
df

   col1  col2
0     1     4
1     2     5
2     3     6

In [3]:
df.dtypes

col1    int64
col2    int64
dtype: object

In [4]:
df.T

      0  1  2
col1  1  2  3
col2  4  5  6